/* GLOBAL */
* {
  box-sizing: border-box;
  color: black;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  transition: 0.4s;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #333333;
}

.nav1 p {
  color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.slideFromLeft {
  width: 300px;
  height: 300px;
  background-color: red;

  animation-name: slideFromLeft;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.slideFromRight {
  width: 300px;
  height: 300px;
  background-color: green;

  animation: slideFromRight 3s ease-in-out infinite;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.colorSwitch {
  background-color: violet;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.colorSwitch:hover, .colorSwitch:active {
  background-color: chartreuse;
}

.makeBigger {
  scale: 1;
  transition: 1s ease-in;
}

.makeBigger:hover, .makeBigger:active {
  scale: 1.2;
}

.changeOpacity {
  opacity: 1;
  transition: 1s ease-out;
}

.changeOpacity:hover, .changeOpacity:active {
  opacity: 0.5;
}

button {
  color: black;
}

footer {
  padding: 1rem;
}

@keyframes slideFromLeft {
  0% {
    transform: rotate(360deg);
    scale: 0.1;
  }
  50% {
    scale: 3;
  }
  100% {
    scale: 0.1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(500px) rotate(360deg);
    rotate: 360deg;
    scale: 2;
  }
}


